@model ViniciusMaiaITIXWebApp.ViewModel.ConsultaViewModel

@{
    ViewBag.Title = "Consulta";
}

<script>
    var viewModel = @Html.Raw(Json.Encode(Model));
</script>

<h2>Consulta</h2>
<div ng-controller="consultaController" style="margin-top: 30px;">
    <form name="EditForm">
        <input type="hidden" name="Id" value="{{IdConsulta}}"/>
        <div class="row" style="padding-left: 15px;">
            <input type="submit" class="btn btn-success" ng-click="salvaConsulta()" value="Salvar" />
            @Html.ActionLink("Cancelar", "List", null, new { @class = "btn btn-danger" })
        </div>
        <div ng-repeat="mensagemDeErro in mensagensDeErro" class="alert alert-danger fade in alert-dismissible" style="margin-top: 15px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>{{mensagemDeErro}}</strong>
        </div>
        <div class="form-group" style="margin-top: 20px;">
            <label for="inputPaciente">Paciente</label>
            <select ng-model="Paciente" class="form-control" ng-options="paciente as paciente.Nome for paciente in ListaPacientes">
                <option value="">Selecione o paciente</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputData">Data</label>
            <input type="date" class="form-control" id="inputData" ng-model="DataDaConsulta" />
        </div>
        <div class="form-group">
            <label for="inputHoraInicio">Hora Início</label>
            <input type="time" class="form-control" id="inputHoraInicio" ng-model="HoraInicio"/>
        </div>
        <div class="form-group">
            <label for="inputHoraFim">Hora Fim</label>
            <input type="time" class="form-control" id="inputHoraFim" ng-model="HoraFim" />
        </div>
        <div class="form-group">
            <label for="inputObservacoes">Observações</label>
            <textarea rows="4" id="inputObservacoes" class="form-control" ng-model="Observacoes" maxlength="200"></textarea>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/AngularApp/webapp.js"></script>
    <script src="~/AngularApp/Consulta/consultaService.js"></script>
    <script src="~/AngularApp/Consulta/consultaController.js"></script>
}

