@{
    ViewBag.Title = "Consultas";
}

<div class="container" ng-controller="consultaController">

    <div class="row" style="padding-left: 15px; padding-top: 50px;">
        <p>
            @Html.ActionLink("Agendar Consulta", "Novo", null, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="panel panel-default" style="margin-top: 10px;">
        <div class="panel-heading">Consultas</div>
        <table class="table table-bordered">
            <thead style="background-color: #f5f5f5;">
                <tr>
                    <th>Paciente</th>
                    <th>Data/Hora Início</th>
                    <th>Data/Hora Fim</th>
                    <th>Observações</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consulta in Consultas">
                    <td>{{consulta.Paciente.Nome}}</td>
                    <td>{{consulta.DataHoraInicio.slice(6, -2) | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td>{{consulta.DataHoraFim.slice(6, -2) | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td>{{consulta.Observacoes}}</td>
                    <td style="width: 130px;">
                        <a href="#" class="btn btn-info" ng-click="redirecionaParaEdicao(consulta)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#" class="btn btn-danger" ng-click="removeConsulta(consulta)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/AngularApp/webapp.js"></script>
    <script src="~/AngularApp/Consulta/consultaService.js"></script>
    <script src="~/AngularApp/Consulta/consultaController.js"></script>
}
